<% content_for :title, "Tara Crammer Designs / New Post" %>
<% if session[:authenticated_user] != nil # The user has logged in %>
  <% content_for :head do %>
    <%= stylesheet_link_tag "posts.css", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "tinymce/tinymce.min.js", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "manage.js", "data-turbolinks-track" => true %>
  <% end %>
  <%= render "partials/manage_navigation_bar" %>
  <h1>New Post</h1>
  <div class="container create-post-form">
    <%= form_for :blog_post do |builder| %>
      <%= builder.text_area :title, :class => 'post-header post-title post-field white-background', :id => 'post-title', :placeholder => 'Title' %><br />
      <%= builder.text_area :body, :class => 'post-content', :placeholder => 'Body', :id => 'post-body' %><br />
      <div class="column">
        <h6 class="post-image-title">Header Image:</h6>
        <%= builder.file_field :header_image, :class => 'post-image', :id => 'header-image-button' %><br />
      </div> <!-- .column -->
      <div class="column">
        <%= builder.text_field :tags, :class => 'post-tags post-field white-background', :id => 'post-tags', :placeholder => 'Tags', :autocomplete => 'off' %><br />
      </div> <!-- .column -->
      <%= builder.submit :submit_button, :value => 'Create', :class => 'btn' %>
    <% end %>
  </div> <!-- .container -->
  <!-- Scripts -->
  <script>
    tinymce.init({
      "file_browser_callback": function (field_name, url, type, win) {
          win.document.getElementById(field_name).value = 'my browser value'; 
        },
      "height":"525px",
      "menubar": false,
      "paste_as_text": true,
      "plugins": [
        "link image searchreplace fullscreen media contextmenu paste"
      ],
      "resize":false,
      "selector":"#post-body",
      "statusbar":false,
      "toolbar": ["undo redo | styleselect | bold italic | link image | alignleft aligncenter jbimages alignright"]
    });
  </script>
  <%= render "partials/short_footer" %>
<% else # The user hasn't logged in yet %>
  <script>
    window.location.href = "/Manage";
  </script>
  <h4 class="shoo-message">You shouldn't be here. Please sign in first!</h4>
<% end %>