<% content_for :title, "Tara Crammer Designs / Delete" %>
<% content_for :background_class, "delete-page" %>
<% if session[:authenticated_user] != nil # The user has logged in %>
  <%= render "partials/manage_navigation_bar" %>
  <h1>Delete</h1>
  <div class="container">
    <table>
      <tr>
        <td>#</td>
        <td>Name</td>
        <td>Tags</td>
        <td>Created</td>
      </tr>
      <% @latest_posts.each do |post| %>
        <tr>
          <td><%= post.id %></td>
          <td><%= post.title %></td>
          <td>
            <% post.tags.map.with_index do |tag, index| %>
                <% if index == post.tags.size - 1 %>
                  <%= "##{tag}." %>
                <% else %>
                  <%= "##{tag}, " %>
                <% end %>
            <% end %>
          </td>
          <td><a class="themed" href="/Manage/Bye/<%= post.id %>">Delete</a></td>
        </tr>
      <% end %>
    </table>
    <%=
      will_paginate(@latest_posts, {
        :previous_label => 'Ealier',
        :next_label => 'Older'
      })
    %>
  </div> <!-- .container -->
  <%= render "partials/short_footer" %>
<% else # The user hasn't logged in yet %>
  <script>
    window.location.href = "/Manage";
  </script>
  <h4 class="shoo-message">You shouldn't be here. Please sign in first!</h4>
<% end %>
