<%= render "partials/navigation_bar" %>
<button id="pancakes"><span></span><span></span><span></span></button>
<h1>My <span>W</span>ork</h1>
<section class="post">
  <div class="left">
    <header>Project Title</header>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam arcu, bibendum ac euismod sit amet.</p>
    <a href="">Details <span>&raquo;</span></a>
  </div> <!-- .left -->
  <div class="right">
    <%= image_tag "ImagePlaceholder.jpg", :alt => "ImagePlaceholder.jpg" %>
  </div> <!-- .right -->
</section>
<section class="post">
  <div class="left">
    <header>Project Title</header>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam arcu, bibendum ac euismod sit amet.</p>
    <a href="">Details <span>&raquo;</span></a>
  </div> <!-- .left -->
  <div class="right">
    <%= image_tag "ImagePlaceholder.jpg", :alt => "ImagePlaceholder.jpg" %>
  </div> <!-- .right -->
</section>
<section class="post">
  <div class="left">
    <header>Project Title</header>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam arcu, bibendum ac euismod sit amet.</p>
    <a href="">Details <span>&raquo;</span></a>
  </div> <!-- .left -->
  <div class="right">
    <%= image_tag "ImagePlaceholder.jpg", :alt => "ImagePlaceholder.jpg" %>
  </div> <!-- .right -->
</section>
<section class="post">
  <div class="left">
    <header>Project Title</header>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam arcu, bibendum ac euismod sit amet.</p>
    <a href="">Details <span>&raquo;</span></a>
  </div> <!-- .left -->
  <div class="right">
    <%= image_tag "ImagePlaceholder.jpg", :alt => "ImagePlaceholder.jpg" %>
  </div> <!-- .right -->
</section>
<section class="post">
  <div class="left">
    <header>Project Title</header>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam arcu, bibendum ac euismod sit amet.</p>
    <a href="">Details <span>&raquo;</span></a>
  </div> <!-- .left -->
  <div class="right">
    <%= image_tag "ImagePlaceholder.jpg", :alt => "ImagePlaceholder.jpg" %>
  </div> <!-- .right -->
</section>
<section class="post">
  <div class="left">
    <header>Project Title</header>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam arcu, bibendum ac euismod sit amet.</p>
    <a href="">Details <span>&raquo;</span></a>
  </div> <!-- .left -->
  <div class="right">
    <%= image_tag "ImagePlaceholder.jpg", :alt => "ImagePlaceholder.jpg" %>
  </div> <!-- .right -->
</section>
<footer>
  <div class="social-links">
    <ul>
      <li>
        <a href="/">
          <%= image_tag "SocialMediaIcons/Facebook.png", :alt => "Facebook.png" %>
        </a>
      </li>
      <li>
        <a href="/">
          <%= image_tag "SocialMediaIcons/Twitter.png", :alt => "Twitter.png" %>
        </a>
      </li>
      <li>
        <a href="/">
          <%= image_tag "SocialMediaIcons/Pinterest.png", :alt => "Pinterest.png" %>
        </a>
      </li>
      <li>
        <a href="/">
          <%= image_tag "SocialMediaIcons/LinkedIn.png", :alt => "LinkedIn.png" %>
        </a>
      </li>
    </ul>
  </div> <!-- .social-links -->
  <p><span>Made</span> <span>with</span> <span><%= image_tag "Heart.png", :alt => "Heart.png" %></span> <span>by</span> <span>Alexander</span> <span>Rhett</span> <span>Crammer</span></p>
  <p>&copy; <%= @current_year %> Tara Crammer Designs</p>
  <a href="http://www.hausofalexander.ml/" target="_blank">
    <%= image_tag("HoA-Logo.png", :alt => "HoA-Logo.png") %>
  </a>
</footer>
