<% content_for :title, "Tara Crammer Designs / My Work" %>
<%= render "partials/navigation_bar" %>
<h1>My <span>W</span>ork</h1>
<div id="posts">
<% @latest_posts.each do |post| %>
  <% image_available = File.exists?("#{Rails.root}/public/images/post-header-images/#{post.file_name}.jpg") %>
  <% if image_available == true %>
    <section class="post">
      <div class="right">
        <%= image_tag "post-header-images/#{post.file_name}.jpg", :alt => "#{post.file_name}.jpg" %>
        <% # .right and .left are backwards so images come first in thin viewports %>
      </div> <!-- .right -->
      <div class="left">
        <header><%= post.title %></header>
        <%= raw Nokogiri::HTML(File.open("#{Rails.root}/public/full_posts/_#{post.file_name}.html.erb","r")).xpath("//p")[0] %>
        <a href="Posts/<%= post.id %>">Details <span>&raquo;</span></a>
      </div> <!-- .left -->
    </section>
  <% else %>
    <section class="post imageless">
      <header><%= post.title %></header>
      <%= raw Nokogiri::HTML(File.open("#{Rails.root}/public/full_posts/_#{post.file_name}.html.erb","r")).xpath("//p")[0] %>
      <a class="details-link" href="Posts/<%= post.id %>">Details <span>&raquo;</span></a>
    </section> <!-- .imageless -->
  <% end %>
<% end %>
</div> <!-- #posts -->
<%=
  will_paginate(@latest_posts, {
    :previous_label => 'Earlier',
    :next_label => 'Older'
  })
%>
<%= render "partials/extended_footer" %>
