<%= render "partials/navigation_bar" %>
<h1>My <span>W</span>ork</h1>
<% @latest_posts.each do |post| %>
  <section class="post">
    <div class="left">
      <header><%= post.title %></header>
      <%= render "full_posts/#{post.file_name}" %>
      <a href="Posts/<%= post.id %>">Details <span>&raquo;</span></a>
    </div> <!-- .left -->
    <div class="right">
      <%= image_tag "PostHeaderImages/#{post.file_name}.jpg", :alt => "#{post.file_name}.jpg" %>
    </div> <!-- .right -->
  </section>
<% end %>
<%= render "partials/extended_footer" %>
