<%= render "partials/navigation_bar" %>
<h1>Sa<span>y</span> Hi</h1>
<div class="container content">
  <%= form_tag(nil, {:class => 'contact-form'}) do %>
    <%= text_field_tag :from, nil, {:class => 'first-name-field', :placeholder => 'First name'} %>
    <%= text_field_tag :with_address, nil, {:class => 'last-name-field', :placeholder => 'Email address'} %>
    <%= text_area_tag :message, nil, {:class => 'message-field', :placeholder => 'Write your message here then press send.'} %>
    <%= submit_tag "Send" %>
  <% end %>
  <div class="methods-of-contact">
    <div class="method-of-contact">
      <%= image_tag "Map.png", :alt => 'Map.png' %>
      <p>822 Front Street<br />Georgetown, SC 29440<br />(843) 545 - 9000</p>
    </div> <!-- .method-of-contact -->
    <div class="method-of-contact">
      <%= image_tag "Phone.png", :alt => 'Phone.png' %>
      <p>+1 (843) 457 - 1584</p>
    </div> <!-- .method-of-contact -->
    <div class="method-of-contact">
      <%= image_tag "Messages.png", :alt => 'Messages.png' %>
      <p>taracrammer@icloud.com</p>
    </div> <!-- .method-of-contact -->
    <div class="method-of-contact">
      <%= image_tag "Mail.png", :alt => 'Mail.png' %>
      <p>taracrammer@yahoo.com</p>
    </div> <!-- .method-of-contact -->
  </div> <!-- .methods-of-contact -->
</div> <!-- .container -->
<%= render "partials/extended_footer" %>
