<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title).empty? ? "Tara Crammer Designs" : yield(:title) %></title>
    <!-- Metadata -->
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta id="viewport" name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
      <meta name="application-name" content="Tara Crammer Designs">
      <meta name="description" content="Tara's portfolio.">
      <meta name="author" content="Alexander Rhett Crammer">
      <meta name="generator" content="Coda 2, Ruby on Rails, Heroku, Puma, Ubuntu">
      <meta name="keywords" content="Weddings, Events, Interiors, Design">
      <%= csrf_meta_tags %>
    <!-- Links -->
      <%= stylesheet_link_tag "hover-min", media: "all", "data-turbolinks-track" => true %>
      <%= stylesheet_link_tag "application", params[:controller], "data-turbolinks-track" => true %>
    <!-- Scripts -->
      <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js", "data-turbolinks-track" => true %>
      <%= javascript_include_tag "application", params[:controller], "data-turbolinks-track" => true %>
    <!-- View Specific Elements -->
      <%= yield :head %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>